* {
  margin:0;
  padding:0;
  font-family:Verdana,Arial,Helvetica;
  color:#000000;
  font-size:13px;
}
html, body {
  width:100%;
  height:100%;
}
html {
  overflow-y:scroll;
}
body {
  background-color:#ffffff;
  text-align:center;
}
ol, ul {
  margin-left:2em;
}
h1 {
  font-size:2em;
  padding-top:0.5em;
}
h2 {
  font-size:1.5em;
  padding-top:0.5em;
}
h3 {
  font-size:1.0em;
  padding-top:0.5em;
  font-weight:bold;
}
#wrapper {
  margin:0 auto;
  height:100%;
  /*background-color:#f6f3ee;*/
  background-color:#f00;
  width:996px;
  text-align:left;
  background:url('../images/strechbackground.jpg') repeat-y;
  min-height:1300px;
}
#wrapper2 {
  background:url('../images/topbackground.jpg') center top no-repeat;
  width:996px;
  min-height:1300px;
  height:100%;
}
#sidebar {
  float: right;
  margin-top: 181px;
  margin-right: 80px;
  width: 242px;
}
#content {
  float:left;
  margin-top:354px;
  padding-left:10px;
  width:644px;
}
#slideshow{
   position: relative;
   height: 349px;
   width: 620px;
   top: 5px; 
   left: 10px;
   border: 1px solid gray;
}
#slideshow img {
   height: 349px;
   width: 620px;
   position: absolute;
   z-index:1;
}

#slideshow  #title {
   position: absolute;
   height: 40px;
   width: 620px;
   opacity: 0.5;
   display: none;
   z-index:2;
   margin-top: 0;
   text-align:center;
   background-color: #181907;
}
#slideshow  #title  span{
   line-height: 40px;
}
#slideshow  #title  span span{
   font-weight:bold;
   color:#F8E0F1;
   vertical-align:middle;
   opacity: 1;
}
#slideshow  #controlls {
   position: absolute;
   z-index:2;
   display:none;
   height: 50px;
   margin: auto;
   text-align:center;
   margin-bottom: 0;
   left:0; 
   right:0;
   top:0; 
   bottom:0;
}
.button {
   display: inline-block;
   background-color: #181907;
   border: 1px solid #F8E0F1;
    border-radius: 5px;
   opacity: 0.5;
	min-height: 30px;
	min-width: 30px;
}
.button span {
    line-height: 30px;
}
.button span span {
    webkit-text-stroke: 1px transparent;
   font-weight:bold;
   color:#F8E0F1;
   vertical-align:middle;
}
.button:hover{
   cursor: pointer;

}

#online_users {
  margin-left:4px;
  list-style:none;
}

#online_users > li.none {
  font-style:italic;
  color:#999999;
}
#online_users > li.user > span {
}
#online_users > li.user > span > div.avatar {
  background-size:128px;
  background-position: -16px -15px;
  width:16px;
  height:16px;
  border:1px solid black;
  margin-right:3px;
  display:inline-block;
  vertical-align:middle;
}
#online_users > li.user > span > span.name {
  vertical-align:middle;
}

#sidebar_menu {
  list-style-type:none;
  margin-left:0;
}
#sidebar_menu > li {
  min-height:64px;
  padding-left:70px;
  padding-top:5px;
  margin-top:10px;
}
#sidebar_menu_map {
  background:url('../images/icons/map.png') left top no-repeat;
}
#sidebar_menu_online {
  background:url('../images/icons/online.png') left top no-repeat;
}
#sidebar_menu_notch {
  background:url('../images/icons/notch.png') left top no-repeat;
}
#sidebar_menu_mcforum {
  background:url('../images/icons/mcforum.png') left top no-repeat;
}

div.rssFeed a {
  font-size:0.8em;
}
div.rssFeed > div.rssBody > ul {
  margin-left:25px;
  list-style-type:disc;
}
div.rssFeed li.rssRow {
}
div.rssFeed li.odd {
}
div.rssFeed li.even {
}

/* sundial */
#clock_text {
  position:relative;
  left:-50px;
}
#clock_image {
  position:relative;
  left:-64px;
  top:3px;
  float:left;
}
#mask {
  width:50px; height:50px; position: absolute; z-index: 10;
}
#dial {
  width:50px; height:50px; position: relative; display: block;
}

/* weather */
#mcwforecast {
  font-size:2px;
}

/* playercard */
#skin {
  float:left;
}
#skin > div {
  position:absolute;
  margin-top:0;
  left:0;
}

#playercard {
  float:right;
  width:222px;
}
#playercard > ul {
  list-style-type:none;
}
#playercard > ul > li {
  text-align:left;
}
#playercard #username {
  font-size:1.6em;
  padding-bottom:0.1em;
  margin-bottom:0.8em;
  border-bottom:2px solid #fd8912;
  width:99%;
} 
#playercard .heart {
  margin-right:-1px;
}
#playercard .food {
  margin-right:-1px;
}
#playercard #xpbar {
  background-image:url('/images/mc_icons/xp_bar.png');
  background-repeat:no-repeat;
  background-position:left bottom;
  line-height:1.8em;
  width:171px;
  text-align:center;
}
#playercard #level {
  font-weight:bold;
  color:#80ff20;
  text-shadow:
    -1px  0   0 #000,
     1px  0   0 #000,
     0   -1px 0 #000,
     0    1px 0 #000,

    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,

    -2px  0   0 #000,
     2px  0   0 #000,
     0   -2px 0 #000,
     0    2px 0 #000,

    -2px  1px 0 #000,
    -1px  2px 0 #000,
     1px  2px 0 #000,
     2px  1px 0 #000,
     2px -1px 0 #000,
     1px -2px 0 #000,
    -1px -2px 0 #000,
    -2px -1px 0 #000;
}
#playercard #dimension {
  margin-top:0.8em;
  background-repeat:no-repeat;
  padding-left:36px;
  line-height:32px;
  vertical-align:middle;
  font-size:1.2em;
}
